# Firebase
FIREBASE_PROJECT_ID=pg-management-app-67141
FIREBASE_API_KEY=your_api_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_API_KEY=your_api_key

# Vercel
CRON_SECRET=your_cron_secret